:root {
  scroll-behavior: smooth;
  --gray: rgb(53, 58, 64);
  --green: rgb(41, 167, 68);
  --white: rgb(253, 253, 253);
  --darkgreen: rgba(28, 54, 67, 1);
  --lightgreen: rgba(30, 83, 113, 1);
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

.navbar {
  width: 100%;
  position: fixed;
  z-index: 300;
  background-color: var(--gray);
}

.nav-link__direct {
  color: var(--green);
}

header {
  display: flex;
  justify-content: center;
  position: relative;
}

.text {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
  height: 100%;
  background-color: rgba(2, 2, 2, 0.541);
  position: absolute;
  width: 100%;
  margin: 0;

}

h2 {
  color: var(--white);
  text-align: right;
}

h3 {
  font-size: 1.8rem;
  text-transform: uppercase;
  text-align: center;
  line-height: 1.1;
}

h5 {
  font-size: 1.1rem;
}

h6 {
  text-align: center;
  text-transform: uppercase;
  font-size: .65rem;
  margin-top: .8rem;
}

.hero p {
  color: var(--white);
  text-align: right;
  width: 100%;
  max-width: 600px;
  text-shadow: 2px 2px 0.8px rgb(0, 0, 0);
}

.btn__quiero {
  color: var(--white);
  background-color: transparent;
  border: 1px solid var(--white);
  border-radius: .3rem;
  padding: .3rem 1rem;
}

.btn__quiero:hover {
  color: rgb(0, 0, 0);
  background-color: var(--white);
  transition: all .5s ease;
}

.btn__comprar {
  color: black;
  background-color: var(--green);
  border: none;
  color: white;
}

.btn__comprar:hover {
  background-color: darkgreen;
  transition: all .5s ease;
}

.btn__quiero,
.btn__comprar {
  border-radius: .3rem;
  padding: .3rem 1rem;
}

.oradores__detalle {
  padding: 0 1rem;
}

.oradores__detalle p {
  font-size: .7rem;
  line-height: 1.2rem;
}

.orador img {
  width: 100%;
}

.orador {
  border: 1px solid lightgray;
}

.orador h6 {
  text-align: left;
  margin: 1.2rem 0 .2rem 1rem;
}

h6 .js,
h6 .react,
h6 .ng,
h6 .st {
  text-transform: none;
  font-weight: 900;
  margin-right: 5px;
  padding: 1px 5px;
  border-radius: 5px;
  justify-content: flex-start;
}

h6 .js {
  background-color: #ffc800;
}

h6 .react {
  background-color: rgb(21, 161, 184);
  color: var(--white);
}

h6 .ng {
  background-color: rgb(106, 116, 125);
  color: var(--white);
}

h6 .st {
  color: var(--white);
  background-color: rgb(219, 54, 70);
}

.textos__baires {
  background-color: var(--gray);
  color: var(--white);
}

.textos__baires p {
  font-size: .76rem;
  line-height: 1.3rem;
}

.textos__baires a {
  color: var(--white);
  text-decoration: none;
  font-size: .76rem;
  padding: .4rem;
  border-radius: 4px;
  border: 1px solid var(--white);
}

.formulario {
  padding: 0 3rem 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
}

.formulario p {
  text-align: center;
  font-size: .9rem;
}

.formulario p a {
  color: black;
}

.formulario p a:hover {
  color: var(--green)
}

form {
  text-align: center;
}

input,
select,
textarea {
  border: 1px solid lightgrey;
  border-radius: 4px;
  width: 100%;
}

label {
  font-size: .9rem;
}

input#email {
  width: 100%;
}

input,
select {
  margin: .5rem 0;
  height: 1.8rem;
  padding: 0 .5rem;
  font-size: .76rem;
}

textarea {
  margin-top: .5rem;
  height: 6.5rem;
  font-size: 1.1rem;
  padding: .5rem 1rem;
}

.form-btns,
.form-row {
  display: flex;
  justify-content: space-between;
}

.form__rows {
  display: flex;
  justify-content: space-between;
  text-align: left;
  font-size: 1rem;
}

p.salida {
  display: flex;
  align-items: flex-start;
  background-color: rgb(204, 229, 255);
  padding: 10px 20px;
  margin-top: 25px;
  font-size: 1rem;
}

#submit,
#resetBtn,
#resumenBtn {
  color: var(--white);
  background-color: rgb(150, 201, 62);
  height: 2.5rem;
  font-size: 1rem;
}

#submit:hover,
#resetBtn:hover,
#resumenBtn:hover {
  background-color: var(--gray);
  transition: all .5s ease-in-out;
}

.form__nota {
  display: block;
  font-size: .7rem;
  text-align: left;
  color: darkgray;
}

.grid__tickets {
  display: grid;
  width: 100%;
  max-width: 640px;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 5px;
  margin-top: 40px;
}

.box__ticket {
  padding: 20px 10px;
  text-align: center;
  background-color: white;
  transition: all .2s ease;
}

/* .box__ticket:active {
  transform: scale(103%);
  filter:drop-shadow(0px 5px 3px lightgray);
} */

.button-active {
  filter: drop-shadow(0px 5px 3px lightgray);
  transform: scaleY(105%);
  background-color: rgba(245, 245, 245, 0.082);
}

.box__ticket.blue {
  border: 1px solid rgb(52, 156, 254);
  border-radius: 2px;
}

.box__ticket.blue:hover {
  outline: 1px solid rgb(52, 156, 254);
  /* filter:drop-shadow(0px 5px 3px lightgray); */
}

.box__ticket.green {
  border: 1px solid rgb(38, 181, 42);
  border-radius: 2px;
}

.box__ticket.green:hover {
  outline: 1px solid rgb(38, 181, 42);
  /* filter:drop-shadow(0px 5px 3px lightgray); */
}


.box__ticket.orange {
  border: 1px solid rgb(255, 187, 0);
  border-radius: 2px;
}

.box__ticket.orange:hover {
  outline: 1px solid rgb(255, 187, 0);
  /* filter:drop-shadow(0px 5px 3px lightgray); */
}

.box__ticket h6 {
  text-transform: lowercase;
  font-size: .8rem;
  font-weight: 400;
}

.box__ticket h5 {
  font-size: 1rem;
  font-weight: bold;
}

.box__ticket h4 {
  font-size: 1.2rem;
}

.box__ticket p {
  font-size: 1rem;
}

footer {
  background: rgb(28, 54, 67);
  background: linear-gradient(90deg, var(--darkgreen) 0%, var(--lightgreen) 100%);
  min-height: 5.2rem;
}

footer ul {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 3rem;
}

footer li {
  list-style: none;
  font-size: .8rem;
}

footer li a {
  text-decoration: none;
  color: var(--white);
}


.popup {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 50%;
  left: 50%;
  width: 86%;
  max-width: 640px;
  height: 60%;
  opacity: 95%;
  transform: translate(-50%, -50%);
  background-color: var(--gray);
  color: var(--white);
  font-size: 20px;
  outline: 10px solid var(--white);
  white-space: pre-line;
  text-align: center;
  z-index: 9999;
}

/* Listado de oradores */
main.listado {
  width: 100%;
  min-height: 100vh;
  padding-top: 100px;
}

.listado h2 {
  color: var(--gray);
  text-align: center;
}

button.login {
  background-color: transparent;
  border: none;
  padding-left: 10px;
  color: var(--white);
}

button.login:hover {
  color: greenyellow;
}

.popup__login {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 400px;
  height: 400px;
  margin: auto;
  border: 1px solid var(--green);
  border-radius: 5px;
  padding: 30px;
  visibility: hidden;
}

.form-group {
  display: flex;
  flex-direction: column;
  width: 300px;
  margin: auto;
  align-items: center;
}

/* INICIO VIEPORTS */

@media (max-width: 375px) {

  .btn__comprar,
  .btn__quiero {
    display: inline;
    padding: 5px;
    font-size: 12px;
  }
}

@media (min-width: 376px) {}

@media (max-width: 567px) {

  form {
    width: 100%;
  }

  input,
  select {
    display: block;
    width: 100%;
  }

  label {
    display: none;
  }

  .grid__tickets {
    grid-template-columns: 1fr;
  }

  .navbar {
    padding: .25rem;
  }
}

@media (min-width: 568px) {

  .navbar {
    padding: .25rem 5%;
  }

  form {
    width: 90%;
  }

  input,
  select,
  label {
    display: inline;
    width: calc(50% - 4px);
  }
}

@media (max-width: 775px) {
  header {
    height: 100vh;
    background-image: url("img/ba1.jpg");
    background-position: bottom center;
    background-size: cover;
  }

  .hero p,
  h2,
  .btns {
    padding: 0 2rem;
  }

  .img__header {
    display: none;
  }

  .grid__oradores {
    min-width: 240px;
    max-width: 60%;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 20px;
    margin: auto;
  }
}

@media (min-width: 776px) {
  .hero {
    padding: 4rem 0 0;
  }

  .text {
    align-items: flex-end;
    padding: 6rem;
  }

  .hero p,
  h2 {
    text-align: right;
  }

  .grid__oradores {
    width: 72%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 25px;
    margin: 0 auto;
  }

  form {
    width: 640px;
  }
}

@media (max-width: 1124px) {
  html {
    scroll-padding: 65px;
  }

  .imagen__baires {
    margin-bottom: 0 !important;
    padding-bottom: 0 !important;
  }

  .textos__baires {
    margin: 0 !important;
  }

  footer ul {
    gap: .6rem;
  }
}

@media (min-width: 992px) {
  html {
    scroll-padding: 0px;
  }

  .navbar {
    padding: .5rem 5%;
  }

  textarea {
    width: calc(100% - 4px);
  }

  .textos__baires {
    border-left: 1px solid var(--white)
  }

  #oradores,
  #fecha,
  #form {
    background-color: transparent;
    position: relative;
  }

  #oradores {
    top: -80px;
  }

  #fecha,
  #form {
    top: -54px;
  }
}